body{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', sans-serif;
    font-size:30px;
}
h1{
    margin-top: 50px;
    text-align: center;
   
}
.section1,.section2,.section3{
    background-color: #7C83FD;
    height:480px;
    width:31.33%;
    margin:1%;
    border: 1px solid black;
    box-sizing: border-box;
    float:left;
    position :relative;
    overflow:auto;
}
.title1,.title2,.title3{
    background-color: #5F939A;
    color:white;
    width:200px;
    height: 45px ;
    text-align: center;
    border-left:1px solid black;
    border-bottom:1px solid black;
    box-sizing: border-box;
    position:absolute;
    top:0px;
    right: 0px;
}
.title2{
    background-color: #FF7600;
}
.title3{
    background-color: #CD113B;
}
.text{
    margin:50px 5% 30px 5%;
    font-size: 0.7em;
}

@media (max-width:991px) and (min-width:768px){
    .section1{
        width: 46.25%;
        margin:2.5% 1.25% 1.25% 2.5%;
        
    }
    .section2{
        width: 46.25%;
        margin:2.5% 2.5% 1.25% 1.25%;
        
    }
    .section3{
        width: 95%;
        margin:1.25% 2.5% 2.5% 2.5%;
    }
    
}
@media (max-width:767px){
    .section1,.section2,.section3{
        width: 95%;
        margin:1.25% 2.5% 2.5% 2.5%;
    }
    
}

